
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Open+Sans:wght@300&display=swap');


*{
    margin: 0;
    padding:0;
    font-family: 'DM Sans', sans-serif;
    

}

body{
    background-color:#333;
    color: #fff;
}

hr{
    background-color: #fff;
    height: 2px;
    border: none;
    border-radius: 10px 10px 10px 10px;

}

#title{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1.8;
    
    


}

#title h1, #title h2{
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0 0 10px 10px;

}

#content{
    width: 100%;
}

#mode{
    position: fixed;
    top: 1%;
    right: 1%;
}

#changeModeBtn{
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}

#changeModeBtn:hover{
    background-color: #111;
    color: #fff;
}

.textBox{
    position: relative;
    width: 50%;
    left: 22%;
    border: solid 2px #fff;
    padding: 40px 3%;
    line-height: 3;
    margin-top: 30px;
    text-align: center;
    background: linear-gradient(#111, #333, #111);
    border-radius: 5px;
    
}


.textBox p{
    text-align: left;
}

.goalPic{
    width: 300px;
    object-fit: contain;
    border-radius: 5px;
    border: solid 1px #fff;
}

.sourceBtn{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
}

.sourceBtn:hover{
    background-color: #fff;
    color: #333;
}
@media screen and (max-width: 520px) {
    .textBox{
        width: 90%;
        padding: 20px 1%;
        left: 4%;
        line-height: 1.5;
    }

    #title{
        font-size: 14px;
        line-height: 1.5;
    }
}